/* общее */
.contacts {
    background: var(--color-bg);
    padding: 20px 20px;
}

.container {
    max-width: 1640px;
    margin: 0 auto;
}

/* заголовок */
.title {
    text-align: left;
    font-family: var(--font-main);
    font-size: var(--font-size-h2);
    color: var(--color-text);
    margin-bottom: 30px;
    font-weight: 500;
}

/* две колонки с информацией */
.columns {
    display: flex;
    justify-content: left;
    gap: 25px;
    grid: 115px 400px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

/* колонка с названиями */
.col1 p {
    font-family: var(--font-menu);
    font-size: var(--font-size-base);
    margin: 20px 0;
    color: var(--color-text);
    opacity: 60%;
}

/* колонка с данными */
.col2 p {
    font-family: var(--font-menu);
    font-size: var(--font-size-base);
    margin: 20px 0;
    color: var(--color-text);
}

/* соцсети */
.socials {
    display: flex;
    justify-content: left;
    gap: 15px;
}

.socials img {
    width: 50px;
    height: 50px;
    margin-bottom: 50px;
    transition: transform .2s;
}

.socials img:hover {
    transform: scale(1.15);
}

/* адаптив 1200-800-375 */
@media (max-width: 1200px) {
    .container {
        max-width: 1120px;
    }

    .columns {
        gap: 35px;
        margin-bottom: 25px;
    }

    .socials img {
        width: 50px;
        height: 50px;
        transition: transform .2s;
    }

    .socials img:hover {
        transform: scale(1.15);
    }

}

@media (max-width: 800px) {
    .container {
        max-width: 760px;
    }

    .columns {
        gap: 40px;
        margin-bottom: 25px;
    }

    .title {
        font-size: 36px;
    }

    .socials img {
        width: 50px;
        height: 50px;
        transition: transform .2s;
    }

    .socials img:hover {
        transform: scale(1.15);
    }

}

@media (max-width: 375px) {
    .container {
        max-width: 335px;
    }

    .columns {
        gap: 20px;
        margin-bottom: 25px;
        grid: 68px 230px;
    }

    .title {
        font-size: 28px;
    }

    .col1 p {
        font-size: 14px;
    }

    .col2 p {
        font-size: 14px;
    }

    .socials img {
        width: 40px;
        height: 40px;
    }
}