.portfolio {
    padding: 70px;
    background: var(--color-bg);
}

.container {
    max-width: 1640px;
    margin: 0 auto;
}

.heading {
    font-family: var(--font-main);
    font-size: var(--font-size-h2);
    font-weight: 400;
    text-align: left;
    margin-bottom: 40px;
    color: var(--color-text);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.card {
    background: var(--color-bg-card);
    width: 520px;
    height: 522px;
    border-radius: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.pic {
    width: 100%;
    height: 324px;
    object-fit: cover;
    border-radius: 40px;
}

.cardTitle {
    font-family: var(--font-menu);
    font-size: var(--font-size-h3);
    font-weight: 400;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
    color: var(--color-primary);
}

.cardText {
    font-family: var(--font-menu);
    font-size: 20px;
    color: var(--color-text);
    opacity: 60%;
    margin-left: 20px;
    margin-top: 10px;
    max-width: 456px;
}

@media (max-width: 1200px) {
    .portfolio {
        padding: 50px;
    }

    .container {
        max-width: 1160px;
    }

    .heading {
        margin-bottom: 30px;
    }

    .grid {
        gap: 20px;
    }

    .card {
        width: 360px;
        height: 388px;
    }

    .pic {
        height: 227px;
    }

    .cardTitle {
        font-size: 20px;
    }

    .cardText {
        font-size: 16px;
        opacity: 60%;
        max-width: 340px;
    }
}

@media (max-width: 800px) {
    .portfolio {
        padding: 0px;
        padding-top: 40px;
    }

    .container {
        max-width: 760px;
    }

    .heading {
        margin-bottom: 30px;
    }

    .grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .card {
        width: 758px;
        height: 500px;
    }

    .pic {
        height: 324px;
    }

    .cardTitle {
        font-size: var(--font-size-h3);
    }

    .cardText {
        font-size: 20px;
        opacity: 60%;
        max-width: 720px;
    }
}

@media (max-width: 375px) {
    .portfolio {
        padding: 0px;
        padding-top: 40px;
    }

    .container {
        max-width: 335px;
    }

    .heading {
        margin-bottom: 20px;
    }

    .grid {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .card {
        width: 335px;
        height: 339px;
        border-radius: 20px;
    }

    .pic {
        height: 209px;
        border-radius: 20px;
    }

    .cardTitle {
        font-size: 18px;
        margin-left: 10px;
        margin-top: 15px;
    }

    .cardText {
        font-size: 14px;
        opacity: 60%;
        max-width: 292px;
        margin-left: 10px;
        margin-top: 5px;
    }
}