.header {
    position: sticky;
    top: 0;
    z-index: 100;
    background: var(--color-bg);
}

.container {
    max-width: 1640px;
    margin: 0 auto;
    padding: 16px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
  height: 58px; 
}

.nav {
    display: flex;
    gap: 40px;
}

.link {
    text-decoration: none;
    color: var(--color-text);
    font-weight: 400;
    font-size: 20px;
    font-family: var(--font-menu);
    transition: color 0.2s;
}
.link:hover {
    color: var(--color-primary);
}

.cta {
    width: 224px;
    height: 46px;
    background: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    cursor: pointer;
    font-family: var(--font-menu);
    font-size: 18px;
    font-weight: 400;
    transition: 0.2s;
}
.cta:hover {
    background-color: var(--color-primary);
    border: none;
    color: var(--color-text2);
    font-weight: 500;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 20;
}

.line {
  width: 24px;
  height: 3px;
  background: var(--color-text);
  transition: 0.3s;
}

/* крестик */
.cross1 { transform: rotate(45deg) translate(5px, 5px); }
.cross2 { opacity: 0; }
.cross3 { transform: rotate(-45deg) translate(7px, -6px); }

/* ========== мобильное меню ========== */
.navMob {
  display: none;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0 2rem;
  background: var(--color-bg);
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  transform: translateY(-150%);
  transition: transform 0.3s;
}

.navMob.open {
  transform: translateY(0);
}

.mobLink {
  font-family: var(--font-menu);
  font-size: 18px;
  color: var(--color-text);
  text-decoration: none;
  padding: 0.75rem 1.5rem;
}



@media (max-width: 1200px) {
    .container {
        max-width: 1120px;
        height: 90px;
    }

    .nav {
        gap: 20px;
    }
}

@media (max-width: 800px) {
    .container {
        max-width: 760px;
        height: 75px;
    }

    .cta {
        display: none;
    }

    .link {
        font-size: 16px;
    }

    .logo {
        height: 43px;
    }
}

@media (max-width: 375px) {
    @media (max-width: 375px) {
  .burger { display: flex; }
  .navDesk { display: none; }
  .navMob { display: flex; }
  .cta { display: none; }   /* скрываем кнопку «ОСТАВИТЬ ЗАЯВКУ» */
}
}