.header {
    position: sticky;
    top: 0;
    z-index: 100;
    background: var(--color-bg);
}

.container {
    max-width: 1640px;
    margin: 0 auto;
    padding: 16px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
  height: 58px; 
}

.nav {
    display: flex;
    gap: 40px;
}

.link {
    text-decoration: none;
    color: var(--color-text);
    font-weight: 400;
    font-size: 20px;
    font-family: var(--font-menu);
    transition: color 0.2s;
}
.link:hover {
    color: var(--color-primary);
}

.cta {
    width: 224px;
    height: 46px;
    background: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    cursor: pointer;
    font-family: var(--font-menu);
    font-size: 18px;
    font-weight: 400;
    transition: 0.2s;
}
.cta:hover {
    background-color: var(--color-primary);
    border: none;
    color: var(--color-text2);
    font-weight: 500;
}


@media (max-width: 1200px) {
    .container {
        max-width: 1120px;
        height: 90px;
    }

    .nav {
        gap: 20px;
    }
}

@media (max-width: 800px) {
    .container {
        max-width: 760px;
        height: 75px;
    }

    .cta {
        display: none;
    }

    .link {
        font-size: 16px;
    }

    .logo {
        height: 43px;
    }
}

@media (max-width: 375px) {

}