/* общее */
.about {
    padding-top: 50px;
    background: var(--color-bg);
}

/* прямоугольник */
.outer {
    max-width: 1560px;
    height: 488px;
    margin: 0 auto;
    padding: 40px;
    background: var(--color-secondary);
    border-radius: 50px;
    display: grid;
    grid-template-columns: 898px 620px; 
    gap: 42px;
    align-items: center;
}

/* текст */
.title {
    font-family: var(--font-main);
    font-size: var(--font-size-h2);
    font-weight: 400;
    margin-bottom: 30px;
    color: var(--color-text2);
}

.desc {
    font-size: var(--font-size-base);
    font-family: var(--font-menu);
    color: var(--color-text2);
}

/* фото */
.imgBox {
    width: 620px;
    height: 100%;
    overflow: hidden;
    border-radius: 40px;
}
.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* адаптив 1200-800-375 */
@media (max-width: 1200px) {
    .outer {
        max-width: 1060px;
        height: 541px;
        grid-template-columns: 580px 429px; 
        gap: 50px;
        padding: 30px;
    }

    .title {
        margin-top: 0px;
        margin-bottom: 15px;
    }

    .desc {
        max-width: 594px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .imgBox {
        width: 429px;
        height: 480px;
        overflow: hidden;
        border-radius: 40px;
    }   
}

@media (max-width: 800px) {
    .outer {
        max-width: 698px;
        height: 840px;
        grid-template-columns: 1fr; 
        gap: 20px;
        padding: 30px;
    }

    .title {
        font-size: 36px;
        margin-top: 0px;
        margin-bottom: 15px;
    }

    .desc {
        font-size: 18px;
        max-width: 594px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .imgBox {
        width: 698px;
        height: 459px;
        overflow: hidden;
        border-radius: 40px;
    }
}

@media (max-width: 375px) {
    .outer {
        max-width: 295px;
        height: 733px;
        grid-template-columns: 1fr; 
        gap: 20px;
        padding: 20px;
    }

    .title {
        font-size: 28px;
        margin-top: 0px;
        margin-bottom: 15px;
    }

    .desc {
        font-size: 16px;
        max-width: 279px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .imgBox {
        width: 295px;
        height: 259px;
        overflow: hidden;
        border-radius: 40px;
    }
  
}