.cover {
    position: relative;
    height: 949px;
    overflow: hidden;
    text-align: left;
    background: var(--color-bg);        
}

.bgWrap {
    position: absolute;
    top: 255px;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
    pointer-events: none;
}

.bg {
    display: block;
}

.content {
    position: relative;
    z-index: 1;
    max-width: 1640px;
    margin: 0 auto;
}

.title {
    font-family: var(--font-main);
    font-size: var(--font-size-h1);
    font-weight: 500;
    line-height: 105%;
    margin-bottom: 0px;
    margin-top: 130px;
}

.white  { 
    color: var(--color-text); 
}
.green { 
    color: var(--color-primary); 
}

.text {
    max-width: 785px;
    font-family: var(--font-main);
    font-size: var(--font-size-base);
    color: var(--color-text);
    margin: 40px 0 60px 0;
}

.btnRow {
    display: flex;
    gap: 40px;
    justify-content: left;
    flex-wrap: wrap;
}

.btn {
    width: 236px;
    height: 54px;
    border-radius: 50px;
    font-family: var(--font-menu);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: transform .2s;
    border: 2px solid transparent;
    gap: 40px;
    transition: 0.2s;
}

.btn1 {
    background: var(--color-primary);
    color: var(--color-text2);
}

.btn2 {
    background: transparent;
    color: var(--color-text);
    border-color: var(--color-text);
}

.btn1:hover {
        background: transparent;
        border-color: var(--color-primary);
        color: var(--color-primary);
}
.btn2:hover {
    background: var(--color-accent);
    color: var(--color-text2);
    border-color: transparent;
}

@media (max-width: 1200px) {
    .cover {
        height: 772px;
    }

    .content {
        max-width: 1120px;
        margin: 0 auto;
    }

    .title {
        font-size: 78px;
        margin-top: 80px;
    }

    .text {
        max-width: 653px;
    }

    .btnRow {
        gap: 20px;
    }

    .bgWrap {
        position: absolute;
        top: 260px;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 0;
        pointer-events: none;
    }

    .bg {
        width: 1200px;
    }
}

@media (max-width: 800px) {
    .cover {
        height: 626px;
    }

    .content {
        max-width: 760px;
        margin: 0 auto;
    }

    .title {
        font-size: 52px;
        margin-top: 60px;
    }

    .text {
        font-size: 20px;
        max-width: 543px;
        margin: 20px 0 60px 0;
    }

    .btnRow {
        gap: 20px;
    }

    .bgWrap {
        position: absolute;
        top: 280px;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 0;
        pointer-events: none;
    }

    .bg {
        width: 820px;
    }
}

@media (max-width: 375px) {
    .cover {
        height: 418px;
    }

    .content {
        max-width: 335px;
        margin: 0 auto;
    }

    .title {
        font-size: 26px;
        margin-top: 30px;
    }

    .text {
        font-size: 14px;
        font-weight: 300;
        line-height: 140%;
        max-width: 543px;
        margin: 20px 0 40px 0;
    }

    .btnRow {
        gap: 20px;
    }

    .btn {
        width: 164px;
        height: 37px;
        font-size: 14px;
    }

    .bgWrap {
        position: absolute;
        top: 260px;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 0;
        pointer-events: none;
    }

    .bg {
        width: 375px;
    }
}